bin/
.setting
.classpath
.project
.DS_Store
.matx_history
plot*
simulation/matx/.matx_history

### author maeda ###
report/*
!report/res/
!report/*.tex
!report/document/

### author takikawa ###
report_takikawa/*.aux
report_takikawa/*.dvi
report_takikawa/*.lof
report_takikawa/*.log
report_takikawa/*.lot
report_takikawa/*.toc
