bin/
.setting
.classpath
.project
.DS_Store
.matx_history
plot*
simulation/matx/.matx_history

### author maeda ###
report/*
!report/eps/*
!report/*.tex
!report/document/*
!report/*.pdf

### author takikawa ###
report_takikawa/*
!report_takikawa/*.tex
!report_takikawa/*.pdf
